name: Test
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main", "release-*"]

permissions: write-all

jobs:
  go_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Verify
        run: "make verify"

      - name: Run tests
        run: "make test"

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.xml
          format: "markdown"
          badge: "true"
          output: "both"
          indicators: "true"
          hide_complexity: "true"

      - name: PR comment with file
        uses: thollander/actions-comment-pull-request@v2
        if: github.event_name == 'pull_request'
        with:
          filePath: code-coverage-results.md
          comment_tag: Code Coverage
          mode: "recreate"
